/* Resetando margens, preenchimentos e configurando o box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilizando o body da página */
body {
  font-family: "SF Pro", sans-serif;
  background-color: #fff;
  color: #000;
}
/* Estilizando o h1 */
h1{
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Container que mantém os cards organizados */
.container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
}

/* Estilo para os cards */
.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 20px;
  text-align: center;
  border: 2px solid #ddd;
}

/* Estilizando as imagens dentro dos cards */
.card img {
  width: 100%;
  border-radius: 8px;
}

/* Estilo para o título (h2) dentro dos cards */
.card h2 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #000;
}

/* Estilo para os parágrafos (p) dentro dos cards */
.card p {
  font-size: 1rem;
  color: #000;
  margin-bottom: 15px;
}
